# 5. Collections Overview

While primitive data types (like int, float, bool, and str) hold single values, Python’s built-in collections let you group multiple items in flexible ways. The four primary built-in collections are:

1. List – An ordered, mutable sequence.
2. Tuple – An ordered, immutable sequence.
3. Dictionary – An unordered set of key-value pairs.
4. Set – An unordered collection of unique elements.

Below, we’ll explore each in depth with code examples and best practices.

### 5.1 List

Definition & Characteristics

1. A list is created using square brackets [] or the list() constructor.
2. It is ordered, meaning elements retain the order in which they’re inserted.
3. It is mutable: You can add, remove, or modify elements after creation.

In [1]:
# Creating lists in different ways
empty_list = []
numbers = [10, 20, 30, 40]
mixed_list = ["Hello", 3.14, True]

print("Empty list:", empty_list)
print("Numbers list:", numbers)
print("Mixed list:", mixed_list)

# Accessing elements by index
first_num = numbers[0]  # 10
last_num = numbers[-1]  # 40
print("First number:", first_num)
print("Last number:", last_num)

Empty list: []
Numbers list: [10, 20, 30, 40]
Mixed list: ['Hello', 3.14, True]
First number: 10
Last number: 40

#### Adding, Removing, and Modifying Elements

In [2]:
# Adding elements
numbers.append(50)         # Adds 50 at the end
numbers.insert(2, 15)      # Inserts 15 at index 2

# Removing elements
removed_item = numbers.pop()      # Removes and returns the last item (50)
numbers.remove(20)                # Removes the first occurrence of 20

# Modifying an element
numbers[1] = 25                   # Changes the element at index 1 to 25

print("Modified numbers list:", numbers)
print("Removed item:", removed_item)

Modified numbers list: [10, 25, 30, 40]
Removed item: 50

### 5.2 Tuple

Definition & Characteristics

1. A tuple is created using parentheses () or the tuple() constructor.
2. It is ordered, similar to a list.
3. It is immutable: You cannot add, remove, or change elements once defined.
Creation & Basic Operations

In [3]:
# Creating tuples
empty_tuple = ()
single_element_tuple = (42,)
numbers_tuple = (10, 20, 30)
mixed_tuple = ("Alice", 25, True)

print("Empty tuple:", empty_tuple)
print("Single element tuple:", single_element_tuple)
print("Numbers tuple:", numbers_tuple)
print("Mixed tuple:", mixed_tuple)

# Accessing elements by index
first_item = numbers_tuple[0]  # 10
print("First item:", first_item)

# Slicing works similarly to lists
sub_tuple = numbers_tuple[1:]  # (20, 30)
print("Sliced sub-tuple:", sub_tuple)

Empty tuple: ()
Single element tuple: (42,)
Numbers tuple: (10, 20, 30)
Mixed tuple: ('Alice', 25, True)
First item: 10
Sliced sub-tuple: (20, 30)

#### Immutability

In [8]:
# Trying to modify a tuple will raise an error
try:
    numbers_tuple[1] = 99  # This is not allowed
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [5]:
# Unpacking a tuple into separate variables
person_tuple = ("Bob", 30, "Engineer")
name, age, job = person_tuple  # Unpack in order

print("Name:", name)
print("Age:", age)
print("Job:", job)

Name: Bob
Age: 30
Job: Engineer

### 5.3 Dictionary

Definition & Characteristics

1. A dictionary is created using curly braces {} with key-value pairs, or using dict().
2. It is unordered (though Python 3.7+ maintains insertion order as an implementation detail).
3. Keys must be unique and immutable (e.g., strings, numbers, tuples). Values can be anything.
I4. t is mutable: You can add, remove, or change key-value pairs.

In [9]:
# Creation & Basic Operations
# Creating dictionaries
empty_dict = {}
person_dict = {"name": "Alice", "age": 30}
another_dict = dict(city="London", country="UK")

print("Empty dict:", empty_dict)
print("Person dict:", person_dict)
print("Another dict:", another_dict)

# Accessing values by key
print("Name:", person_dict["name"])
print("Age:", person_dict.get("age"))   # .get() is safer, returns None if key isn't found

Empty dict: {}
Person dict: {'name': 'Alice', 'age': 30}
Another dict: {'city': 'London', 'country': 'UK'}
Name: Alice
Age: 30

#### Adding, Updating, and Removing Keys

In [10]:
# Adding or updating a key-value pair
person_dict["city"] = "New York"  # Adds 'city' if it doesn't exist, else updates it

# Removing a key-value pair
removed_value = person_dict.pop("age")  # Removes 'age' and returns its value
print("Removed age:", removed_value)

# Checking if a key exists
if "name" in person_dict:
    print("Name key is present.")

Removed age: 30
Name key is present.

In [11]:
print("Keys:", person_dict.keys())
print("Values:", person_dict.values())
print("Items:", person_dict.items())

Keys: dict_keys(['name', 'city'])
Values: dict_values(['Alice', 'New York'])
Items: dict_items([('name', 'Alice'), ('city', 'New York')])

### 5.4 Set

Definition & Characteristics

1. A set is created using curly braces {} or the set() constructor.
2. It is unordered and does not allow duplicate elements.
3. It is mutable: You can add or remove elements.


Creation & Basic Operations

In [12]:
# Creating sets
empty_set = set()
numbers_set = {1, 2, 3, 2}  # Duplicates are removed automatically
mixed_set = {"apple", 42, (1, 2)}  # You can store immutable types like tuples

print("Empty set:", empty_set)
print("Numbers set:", numbers_set)
print("Mixed set:", mixed_set)

Empty set: set()
Numbers set: {1, 2, 3}
Mixed set: {'apple', 42, (1, 2)}

### Adding and Removing Elements

In [13]:
numbers_set.add(4)        # Adds 4 to the set
numbers_set.discard(2)    # Removes 2 if it exists, no error if it doesn’t
# numbers_set.remove(2)   # Removes 2 but raises a KeyError if it doesn't exist

print("Updated set:", numbers_set)

Updated set: {1, 3, 4}

### Set Operations

Sets support mathematical set operations like union, intersection, difference, etc.

In [14]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union: all elements from both sets
print("Union:", set_a.union(set_b))  # or set_a | set_b

# Intersection: elements common to both
print("Intersection:", set_a.intersection(set_b))  # or set_a & set_b

# Difference: elements in set_a but not in set_b
print("Difference:", set_a.difference(set_b))  # or set_a - set_b

# Symmetric Difference: elements in either set_a or set_b, but not both
print("Symmetric Difference:", set_a.symmetric_difference(set_b))  # or set_a ^ set_b

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}
Symmetric Difference: {1, 2, 4, 5}

# 6. Type Conversion (Casting)

You can convert between data types using built-in constructor functions like int(), float(), str(), etc.

In [15]:
# String to int
number_str = "100"
number_int = int(number_str)
print("Converted int:", number_int, type(number_int))

# Float to int (truncates decimals)
float_num = 3.99
int_num = int(float_num)
print("Truncated int:", int_num, type(int_num))

# Int to float
int_val = 42
float_val = float(int_val)
print("Float value:", float_val, type(float_val))

# Int to string
string_val = str(int_val)
print("String value:", string_val, type(string_val))

Converted int: 100 <class 'int'>
Truncated int: 3 <class 'int'>
Float value: 42.0 <class 'float'>
String value: 42 <class 'str'>